{% extends "shop/main.html" %}

{% block content %}
<section class="hero">
    <div class="hero-container">
        <h2>Campus Marketplace For Accommodations And More</h2>
        <p>Search accommodations, buy, sell your new or used properties and connect with ease the student way
        </p>
        <div class="cta-buttons">
            <button class="btn primary">List Your Property</button>
            <button class="btn secondary">Explore Now</button>
        </div>
    </div>
</section>

{% endblock %}